.App {
  text-align: center;
}

a {
  color: blanchedalmond;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  /* border: solid red; */
  backdrop-filter: blur(3px);
}

#buttonbar {
  align-items: baseline;
  padding-left: 50px;
}

.navbar-brand {
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  margin-left: 20px;
  font-family: fantasy;
  /* padding: 5px; */
}

.navbar-brand:hover {
  /* background-color: rgb(177, 175, 175); */
  transition-duration: 0.4s;
  text-shadow: 5px 3px 5px black;
  border-radius: 10px;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.navButton:hover {
  /* background-color: blanchedalmond; */
  border: solid blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.5em;
}

#homePage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(156, 155, 155);
  align-items: center;
  /* border: solid green; */
  justify-content: space-around;
}

.homeSectionDiv {
  /* border: solid yellowgreen; */
  border-radius: 20px;
  width: 25%;
  background-color: blanchedalmond;
  /* background-color: rgb(244, 244, 244); */
  transition-duration: 0.4s;
}
.homeSectionDiv:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.homeSectionP {
  font-weight: bolder;
  font-style: italic;
  font-size: larger;
}

.section-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: black;
  font-family: fantasy;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(156, 155, 155);
}

#moviePage {
  background-color: rgb(156, 155, 155);
  display: flex;
  flex-direction: column;
}

.deleteButton {
  border-radius: 10px;
  border-color: red;
  font-size: 8px;
}

.movieCard {
  padding: 10px;
  /* border: solid black; */
  border-radius: 10px;
  margin: 8px;
  width: 145px;
  background-color: blanchedalmond;
  overflow-wrap:break-word;
  color: black;
  transition-duration: 0.4s;
}

.movieCard:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#searchInput {
  padding-top: 100px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 25%;
}

#newMovie {
  margin-bottom: 50px;
}

.formLabel {
  font-style: italic;
  font-size: 1.5em;
  font-weight: bolder;
}

.reviewContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
}

.reviewedMovie {
  border-radius: 15px;
  width: 30%;
  align-self: center;
  position: relative;
  margin: 5px;
  background-color: blanchedalmond;
}

.movieTitle {
  border-bottom: solid black;
  width: 80%;
  margin: auto;
  font-style: italic;
}

.starRating {
  font-weight: bold;
  font-style: italic;
}

.poemLine {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}

.formContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.haikuSubmitForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-color: goldenrod;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  background-color: blanchedalmond;
}

.usersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.userCard:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#reviewsPage {
  background-color: rgb(156, 155, 155);
}

#usersPage {
  background-color: rgb(156, 155, 155); 
}

h1 {
  padding-top: 50px;
}

.hydrated {
  background-color: rgb(156, 155, 155);
}